.toggle-button {
    position: fixed;
    top: 0;
    right: 0;
    height: 10%; /* Make it full height */
    background-color: #7600c3;
    border: none;
    cursor: pointer;
    z-index: 1000; /* Ensure it stays above other elements */
    /*transition: background-color 0.3s ease; */
    width: 5px; /* Default width for small screens */
}

/* Adjust width for larger screens */
@media (min-width: 600px) {
    .toggle-button {
        background-color: #7600c3;
        width: 5%; /* Make the button 5% wide on larger screens */
    }
}

/* Hover effect */
.toggle-button:hover {
    background-color: #460075;
}
