
body {
  font-family: Arial, sans-serif;
  margin: 10px auto;
  font-size: 18px;
  max-width: 600px;
}
.hidden{
  display: none;
}

h2 {
  color: #333;
  text-align: center;
  font-size: 24px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}



input, select, textarea {
  width: 100%;
  max-width: 100%;
  padding: 15px;
  margin-top: 5px;
  box-sizing: border-box;
  font-size: 18px;
  border-color: #7600c3;
}

button {
  margin-top: 20px;
  padding: 15px 20px;
  width: 100%;
  max-width: 100%;
  background-color: #7600c3;
  color: #fff; 
  /*color: #e4b813; */
  border: none;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: #460075;
}

#creditAmountField {
  display: none;
}

    .radio-group {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      accent-color: #7600c3;
      border-color: #7600c3;
    }
    .radio-group label {
      flex: 1;
      text-align: center;
      font-weight: normal;
    }

/* Update the .checkbox-group CSS
.checkbox-group { 
  /* display: flex;
  align-items: left;
  justify-content: flex-start;
  -margin-top: 10px;
} */


input[type="checkbox"] {
  accent-color: #7600c3;
  border-color: #7600c3;
  margin-top: 10px;
}

input[type="radio"] {
  transform: scale(1.5);
  margin-right: 5px;
}

@media (max-width: 480px) {
  body {
    font-size: 16px;
  }

  input, select, textarea {
    padding: 10px;
    font-size: 16px;
  }

  button {
    font-size: 18px;
    padding: 12px 16px;
  }

  h2 {
    font-size: 20px;
  }

  .radio-group label {
    flex: 1 1 45%;
  }
}



/* Use span with a class to style the checkboxes and text */
.checkbox-group {
  display: inline-flex;     /* Ensure that the text and checkbox are on the same line */
  align-items: center;      /* Aligns the text and checkbox vertically */
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Ensure all checkboxes are styled properly */
input[type="checkbox"] {
   /* Adds space between checkbox and text */
    /* Optional: Sets the checkbox color */
}
.mycheckbox {
  transform: scale(4); /* Doubles the size of the checkbox */
    margin-right: 30ch;
  margin-left: 30vh;
   accent-color: #7600c3; 
  
}
